*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    
}
h1, h2 {
    color: white;
}
ul{
   list-style: none; 
}

body{
    font-family: 'Arial', sans-serif;
	background: #000000;
    color: #999;
}

img{
    width: 100%;
}

.upper-body{
    position: relative;
    width: 100%;
    height: 98vh;
    background: url('../images/background.jpg') no-repeat center center/cover;
  }

.upper-body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.6);
    box-shadow: inset 50px 40px 250px #000000, inset -50px -40px 250px #000000;
}   

.top{
    padding-top: 1px;
    z-index: 2;
    position: relative;
}

.top img{ 
    width: 210px;
    margin-left: 60px;
    float: left;
}

.top-content{
    position: relative;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 280px;
    z-index: 2;
}


.top-content h1{
    max-width: 640px;
    line-height: 1.1;
    display: block;
    font-weight: bolder;

    }
.top-content h2{
    font-size: 1.625rem;

}

.input-group{
    width: 600px;

}
.my-form{
    height: 55px;
    padding: 10px 10px 0;
    border-radius: 2px;

}

.btn-md{
    margin-top: 38px;
    margin-right: 80px;
    height: 50px;
    width: 120px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.btn-lg{
    border: 1px solid #e50914;
    margin-right: auto;
    background-color: #e50914;
    color: white;
    text-align: center;
    padding: .3rem 1.5rem;
    font-weight: normal;
    font-size: 24px;
    
}

.tabs{
    color: yellow;
    position: relative;
    background-color: #3d3d3d;
    border-bottom: 6px solid #3d3d3d;
}

.my-row{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
   
}

.my-section{
    position: relative;
}


.col-md h1{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.1;
}
.col-md p{
    font-weight: bold;
    font-size: 25px;
    color: rgb(199, 192, 192);
}

.accordion{
    width: 50rem;
    border-radius: 0%;
    
}

.card{
    background-color: #3d3d3d;
    border-radius: 0;
    position: relative;
    /* fix */
    /* padding: 0.8em 2.2em 0.8em 1.2em; */
    margin-bottom: 1px;
    font-weight: 400;
    color: white;
    font-size: 22px;
    font-weight: 100;
    cursor: pointer;
}

.accordion .card-header::after{
    content: "\f067";
    float: right;
}


.accordion .card-header .collapsed:after{
    content: "f067";
    float: right;
    background-color: #3d3d3d;
}

.footer-container{
    
    margin-top: 60px;

}
.footer-container p{
    color: #999;
    margin: 50px 0  20px 35px;
   
}

.foot-list li a{
    color: #999;
}
@media (max-width: 700px){
    .top img{
         width: 150px;
         margin-left: 50px;
    }
    .top .top-btn{
    margin-top: 16px;
    margin-right: 50px;
    height: 48px;
    width: 100px;
    }
     .input-group{
    width: 400px;
    } 
    .input-group-append{
        width: 180px;
    }
}
